@model MyDictionary.Web.ViewModels.ResultViewModel


<div class="row mb-3">
    <div class="col-md-12">
         <span style="font-style: italic;">
            <input hidden asp-for="PartOfSpeech" />
            @Model?.PartOfSpeech  
        </span>
    </div>
    <div class="col-md-12 ml-2 ">
        @if (Model != null)
        {
            <input hidden asp-for="Definition" />
            @Model.Definition<br />

            @if (Model.Synonyms != null)
            {
                <span style="color: #188038;">Similar: </span>

                @*@foreach (var synonym in Model.Synonyms)
                {
                    <span class="pr-3">
                        <a asp-controller="Home"
                           asp-action="LookupWord"
                           asp-route-word="@synonym">@synonym</a>
                    </span>

                }*@
                /*cant use foreach and need to have individual hidden fields in order to model bind properly*/
                @for (int i = 0; i < Model.Synonyms?.Count; i++)
                {
                    <span class="pr-3">
                        <a asp-controller="Home"
                           asp-action="LookupWord"
                           asp-route-word="@Model.Synonyms[i]">@Model.Synonyms[i]</a>
                    </span>
                }
            }

        }
    </div>
    <br />   
     
    <div class="col-md-12">
        <input asp-for="@Model.IsSaved" type="checkbox" />  
    </div>
    
</div>