@model MyDictionary.Web.ViewModels.ApiWordViewModel

@{
    ViewData["Title"] = "GetWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">My Dictionary</h1>
    </div>
    <partial name="/Views/Shared/_Search.cshtml">

        @if (Model != null)
        {

            <div class="col-md-12">
                <form asp-controller="MyWords" asp-action="@(Model.IsSaved ? "Delete" : "Add")">
                    <input hidden asp-for="@Model.ApiWordMeta.First().WordDisplay" name="Word" />
                    <h3>
                        @Model.ApiWordMeta.First().WordDisplay @*<span class="font-italic " style="font-size: .6em">@Model.ApiWordMeta.First().PartOfSpeech</span>*@
                    </h3>

                    @if (Model.IsSaved)
                    {
                        <button id="inputSubmit" type="submit">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </button>
                    }
                    else
                    {
                        <button id="inputSubmit" type="submit">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        </button>
                    }
                </form>
                <span style="color: #70757A; line-height: 16px; font-size: 14px">
                    @*@@Model.ApiWordMeta.First().Syllables |
                    foreach (var meta in Model.ApiWordMeta)
                    {
                        <span>@meta.Pronunciations.ToList().First() \</span>
                    }*@
                </span>

            </div>
            @Html.DisplayFor(m => m.ApiWordMeta);

            @*<div class="col-md-12">

            <div class="row mb-3">
                <div class="col-md-12">
                    <span style="font-style: italic;">
                        <input hidden asp-for="@Model.ApiWordMeta.First().PartOfSpeech" />
                        @Model.ApiWordMeta.First().PartOfSpeech
                    </span>
                </div>
                <div class="col-md-12 ml-2 ">
                    @if (Model != null)
                    {
                        <ol>
                            @foreach (var definition in @Model.ApiWordMeta.First().Definitions)
                            {
                                <li>@definition</li>
                            }
                        </ol>


                        @if (@Model.ApiWordMeta.First().Synonyms != null)
                        {
                            <span style="color: #188038;">Similar: </span>

                            /*cant use foreach and need to have individual hidden fields in order to model bind properly*/
                            @for (int i = 0; i < Model.ApiWordMeta.First().Synonyms?.Count; i++)
                            {
                                <span class="pr-3">
                                    <a asp-controller="Home"
                                       asp-action="LookupWord"
                                       asp-route-word="@Model.ApiWordMeta.First().Synonyms[i]">@Model.ApiWordMeta.First().Synonyms[i]</a>
                                </span>
                            }
                        }

                    }
                </div>
            </div>
            </div>*@

        }
        else
        {
            <div class="col-md-12"><h4>Word not found</h4></div>
        }









