
@model MyDictionary.Web.ViewModels.LookupWordViewModel


<div class="text-center">
    <h1 class="display-4">My Dictionary</h1>
</div>
<partial name="/Views/Shared/_Search.cshtml">
    @if (Model != null)
    {
        <form asp-controller="MyWords" asp-action="@(Model.IsSaved ? "Delete" : "Add")">

            <div class="col-md-12">

                <h3>
                    @Model.WordDisplay
                </h3>
                @if (Model.IsSaved)
                {
                    <button id="inputSubmit" type="submit">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </button>
                }
                else
                {
                    <button id="inputSubmit" type="submit">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </button>
                }

                <span style="color: #70757A; line-height: 16px; font-size: 14px">
                    @Model.Syllables | @Model.Pronunciation
                </span>

            </div>
            <div class="col-md-12">
                @if (Model.Results != null)
                {
                    @*<input hidden asp-for="UserId" name="UserId" />*@
                    <input hidden asp-for="WordDisplay" name="Word" />

                    @Html.DisplayFor(m => Model.Results)
                    @if (Model.IsSaved)
                    {
                        <input id="inputSubmit" type="submit" value="Remove from List" class="btn btn-success" />
                    }
                    else
                    {
                        <input id="inputSubmit" type="submit" value="Save to List" class="btn btn-primary" />
                    }

                }
                else
                {
                    <span>No definition found</span>
                }
            </div>
        </form>

    }



    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $("#word").autocomplete({

                    source: function (request, response) {
                        $.ajax({
                            async: true,
                            crossDomain: true,
                            url: "https://api.datamuse.com/words?sp=" + request.term + "*",
                            method: 'get',
                            success: function (obj) {
                                var words = [];
                                obj.forEach(w => {
                                    words.push(w.word);
                                });
                                response(words);
                                //var obj = JSON.parse(data);
                                //response(obj.results.data);
                            }
                        });
                    },
                    minLength: 3,
                    error: function (message) {
                        alert(message);
                    },
                    autoFocus: true
                });
            });

        </script>
    }
